@import url("./global.css");





/*EXPLORE PAGE*/

.explore-banner {
  margin-top: 40px;
  filter: brightness(90%);
  height: 800px;
}

.green {
  background-color: #7ca7a0;
  margin-top: 20px;
}

.red {
  background-color: orange;
}

.yellow {
  background-color: rgba(255, 196, 0, 0.925);
}

.orange {
  background-color: #f4dddd;
}

.pink {
  background-color: #6cbaf1;
}

.blue {
  background-color: #868dcf;
  margin-bottom: 20px;
}

/*Exhibition Page*/

.exhibition-heading {
  font-family: "Audiowide", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 28px;
}

.grey {
  background-color: #bed3d8;
}

.white {
  background-color: #fe816a;
}

.aqua {
  background-color: #f4dddd;
}

.lightblue{
  background-color: #9acaec;
}

.maroon {
  background-color: #8b97dd;
}

.grey,
.white,
.aqua,
.lightblue,
.maroon{
  margin: 20px 0 20px 0; 
}

/*All Containers*/

.container1{
  display: flex;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  height: auto;
  padding: 20px;
}

.text-container {
  padding: 20px;
}

.text-container h2 {
  color: black;
  font-size: 28px;
  margin-top: 0;
}

.text-container p {
  color: black;
  font-size: 26px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
  padding: 20px;
}
p {
  text-align: center;
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-bottom: 20px;
}


@media (max-width: 1280px){
.text-container p{
  font-size: 24px;
}
}

@media (max-width: 820px) {
  .container {
    flex-direction: column-reverse;
  }

  .container1 {
    flex-direction: column;
  }

  .text-container h2 {
    font-size: 20px;
  }

  .text-container p {
    line-height: normal;
    font-size: 15px;
  }

  .text-container {
    order: -1;
  }

  .exhibition-heading {
    font-size: 20px;
    }
}

@media (max-width: 920px) {
  .text-container p {
    font-size: 18px;
    line-height: normal;
  }
}

/*privacy-terms and conditions*/
.privacy-policy,
.terms-conditions p {
  font-size: 18px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions h2 {
  font-size: 24px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions li {
  font-size: 18px;
  width: auto;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
}

#terms-conditions {
  padding: 2% 15% 2%;
  background-color: #d7d4db;
}

.privacy-policy h2 {
  font-size: 24px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy li,
.privacy-policy p {
  font-size: 20px;
  width: auto;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#privacy-policy {
  padding: 2% 15% 2%;
}

.privacy-terms-banner img {
  padding-top: 70px;
  height: 800px;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .privacy-terms-banner {
    height: auto;
    width: auto;
    padding-top: 70px;
  }
  .explore-banner {
    width: auto;
    height: auto;
  }

}

