@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Audiowide&display=swap");



:root {
  --primary-color: white;
  --secondry-color: rgb(19, 236, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  width: 100%;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.outside-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*page header*/

#main-header {
  display: flex;
  background-color: #13475b;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.image-logo {
  width: 70px;
}


.logo-text {
   margin-left: 10px;
   font-size: 20px;
}
#logo-wrapper{
   display: flex;
   align-items: center;
   color: white;
   font-family:"Audiowide", sans-serif ;
}

/*Nav menu*/
#main-menu {
  position: absolute;
  right: 0px;
  list-style: none;
  background-color: #13475b;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(216, 179, 13);
  color: white;
  width: 100%;
  z-index: 2;
}

#main-menu > ul {
  list-style: none;
  padding: 0;
}

#main-menu > ul > li > a {
  display: inline-block;
  color: white; 
}

#main-menu,
#hamburger {
  display: none;
}

#hamburger:checked + #main-menu {
  display: block;
}

li {
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
}

li a {
  text-decoration: none;
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 18px;
  text-align: center;
}

li:hover a {
  color: rgba(255, 187, 0, 0.986);
}

/** Media queries */
@media (min-width: 920px) {
  .hamburger-icon {
    display: none;
  }

  #main-menu {
    display: flex;
    background: transparent;
    box-shadow: none;
    width: 50%;
    align-items: flex-end;
    font-size: 16px;
  }
}
@media screen and (min-width: 1201px) {
  .li {
    font-size: 15px;
  }
}


.heading-over-image {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Audiowide", sans-serif;
  color: rgb(255, 255, 253);
  font-size: 80px;
  text-shadow: 0 0 10px hwb(0 3% 97%), 0 0 20px hwb(180 15% 73%),
    0 0 30px hwb(320 87% 10%), 0 0 40px #009688, 0 0 50px white,
    0 0 60px#009688, 0 0 70px #009688;
    background-color:transparent#07091f;
    border-radius: 10px;
    padding-top:50px;
}

#banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 240px) and (max-width: 800px) and (min-resolution: 2dppx) {
  .heading-over-image {
    font-size: 24px;
    text-shadow: none;
  }
  .logo-text{
   font-size: 16px;
  }
  }

  
#main-content {
  background-color: white;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h2 {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  padding: 20px;
  font-size: 28px;
}

/*footer*/
.footer-wrapper {
  background-color: #13475b;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellowgreen;
}

.social-icons i {
  margin-bottom: 20px;
}

.terms-privacy p {
  font-size: 18px;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  padding: 20px;
}

.terms-privacy p a {
  text-decoration: none;
  color: yellowgreen;
}

p a:hover {
  color: rgb(250, 13, 179);
  text-decoration: underline;
  font-weight: bold;
}

video{
   padding-top: 70px;
   width: 100%;
}



  .hamburger-icon img {
    width: 40px;
    height: auto; 
  }

 
  @media (max-width: 920px) {
    .hamburger-icon img {
      width: 30px;
      margin-top: 20px;
    }
  }
  .social-icon{
   width: 80px;
  }


@media screen and (max-width: 280px) {
  #main-header {
    position: static; 
  }
  video{
    padding-top: 0px;
    }
    .explore-banner {
      margin-top: 0px;
    }
    .image-banner{
      margin-top: 0px;
    }
  }