@import url("./global.css");
/*EXPLORE PAGE*/
.explore-banner{
height: 600px;
filter: brightness(70%);
}

.container1 {
    background-color:#7CA7A0; 
    margin-top: 20px;
}

.container2 {
   
    background-color:#FFC93C;
}

.container3 {
    
    background-color: #E5C5AE;
}

.container4 {
    
    background-color: #F29CEA; 
}

.container5 {
    background-color: #6cbaf1; 
}

.container6 {
    background-color: #868DCF; 
    margin-bottom: 20px;
}


/*Exhibition Page*/

.container7{
background-color:#BED3D8 ;
}
.container8{
    background-color:#FE816A;
}
.container9 {
    background-color: #F4DDDD ;
}
.container10 {
    background-color: #9ACAEC ;
}
.container11 {
    background-color:#8B97DD ;
}

.container7,
.container8,
.container9,
.container10,
.container11{
    margin: 20px 0 20px 0;

}
 /*All Containers*/

.container1,
.container2,
.container3,
.container4, 
.container5, 
.container6,
.container7,
.container8,
.container9,
.container10,
.container11 {
    display: flex;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.text-container {
    padding: 20px;
}

.text-container h2 {
    color:black;
    font-size: 30px;
    margin-top: 0;
}

.text-container p {
    color: black;
    font-size: 24px;
    line-height: 1.6;
    font-family:'Atkinson Hyperlegible', sans-serif ;
    text-align: center;
    padding: 40px;
    justify-content: center;
}
p {
    text-align: center;
    font-family:'Atkinson Hyperlegible', sans-serif ;
   padding-bottom: 20px;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 820px) {
   
    .container {
        flex-direction: column-reverse; 
    }
    .container1,
    .container2,
    .container3,
    .container4, 
    .container5, 
    .container6,
    .container7,
    .container8,
    .container9,
    .container10,
    .container11 {
        flex-direction: column;
    }
  .text-container h2{
    font-size: 20px;
  }
 .text-container p{
    line-height: normal;
    font-size: 15px;
  }
  .text-container {
    order: -1; 
}
.explore-banner{
    width: auto;
    height: auto;
}
}


/*privacy-terms and conditions*/
.privacy-policy ,
.terms-conditions p {
    font-size: 18px;
    text-align: left;
    font-family:'Atkinson Hyperlegible', sans-serif ;

}


.privacy-policy ,
.terms-conditions h2 {
    font-size: 24px;
    text-align: left;
    font-family:'Atkinson Hyperlegible', sans-serif ;
}

.privacy-policy ,
.terms-conditions li{
    font-size: 18px;
    width: auto;
    text-align:left; 
    font-family: 'Atkinson Hyperlegible', sans-serif;  
}

.privacy-policy ,
.terms-conditions h1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
 #terms-conditions{
    padding:2% 15% 2%; 
    background-color: #D7D4DB;
}
.privacy-policy  p {
    font-size: 18px;
    text-align: left;
    font-family:'Atkinson Hyperlegible', sans-serif ;
}

.privacy-policy 
h2 {
    font-size: 24px;
    text-align: left;
    font-family:'Atkinson Hyperlegible', sans-serif ;
}

.privacy-policy li{
    font-size: 18px;
    width: auto;
    text-align:left; 
    font-family: 'Atkinson Hyperlegible', sans-serif;  
}
#privacy-policy{
    padding:2% 15% 2%;    
}
.privacy-policy h1{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


.footer-wrapper p{
    text-align: center;
      font-size: 16px; 
     font-family: 'Audiowide', sans-serif; 
     text-align: center;
 }
 