@import url("./global.css");

/*EXPLORE PAGE*/

.explore-banner {
  height: 700px;
  filter: brightness(70%);
  margin-top: 70px;
}

.container1 {
  background-color: #7ca7a0;
  margin-top: 20px;
}

.container2 {
  background-color: orange;
}

.container3 {
  background-color: rgba(255, 196, 0, 0.925);
}

.container4 {
  background-color: #f4dddd;
}

.container5 {
  background-color: #6cbaf1;
}

.container6 {
  background-color: #868dcf;
  margin-bottom: 20px;
}

/*Exhibition Page*/

.exhibition-heading {
  font-family: "Audiowide", sans-serif;
  padding: 20px;
  text-align: center;
}

.container7 {
  background-color: #bed3d8;
}

.container8 {
  background-color: #fe816a;
}

.container9 {
  background-color: #f4dddd;
}

.container10 {
  background-color: #9acaec;
}

.container11 {
  background-color: #8b97dd;
}

.container7,
.container8,
.container9,
.container10,
.container11 {
  margin: 20px 0 20px 0;
}

/*All Containers*/

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container10,
.container11 {
  display: flex;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  height: auto;
  padding: 20px;
}

.text-container {
  padding: 20px;
}

.text-container h2 {
  color: black;
  font-size: 28px;
  margin-top: 0;
}

.text-container p {
  color: black;
  font-size: 24px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
  padding: 20px;
}

p {
  text-align: center;
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-bottom: 20px;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 820px) {
  .container {
    flex-direction: column-reverse;
  }

  .container1,
  .container2,
  .container3,
  .container4,
  .container5,
  .container6,
  .container7,
  .container8,
  .container9,
  .container10,
  .container11 {
    flex-direction: column;
  }

  .text-container h2 {
    font-size: 20px;
  }

  .text-container p {
    line-height: normal;
    font-size: 15px;
  }

  .text-container {
    order: -1;
  }

  .explore-banner {
    width: auto;
    height: auto;
  }
}

@media (max-width: 920px) {
  .text-container p {
    font-size: 18px;
    line-height: normal;
  }
}

/*privacy-terms and conditions*/
.privacy-policy,
.terms-conditions p {
  font-size: 18px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions h2 {
  font-size: 24px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions li {
  font-size: 18px;
  width: auto;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy,
.terms-conditions h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#terms-conditions {
  padding: 2% 15% 2%;
  background-color: #d7d4db;
}

.privacy-policy p {
  font-size: 18px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy h2 {
  font-size: 24px;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-policy li {
  font-size: 18px;
  width: auto;
  text-align: left;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#privacy-policy {
  padding: 2% 15% 2%;
}

.privacy-policy h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.privacy-terms-banner img {
  padding-top: 70px;
  height: 800px;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .privacy-terms-banner {
    height: auto;
    width: auto;
    padding-top: 70px;
  }
}

.footer-wrapper p {
  text-align: center;
  font-size: 16px;
  font-family: "Audiowide", sans-serif;
  text-align: center;
}
