 @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Audiowide&display=swap');

 :root {
    --primary-color: white;
    --secondry-color: black;
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html, 
body {
    height: 100vh;
    margin: 0;
    width: 100%;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.outside-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*page header*/

#main-header{
    display: flex;
    background-color :rgb(21, 89, 92);
    justify-content: space-between;
    height: 70px;
}

.image-logo {
    width: 70px;
}
h4 {
    display: flex;
    color:rgb(255, 255, 255);
    align-items: center;
    margin-right: auto;
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;

 }

/*Nav menu*/
#main-menu {
    position: absolute;
    right: 0px;
    list-style: none;
    background-color: rgb(21, 89, 92);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px whitesmoke;
    color:white;
    width: 100%;
    z-index: 2;
}

#main-menu >ul {
    list-style: none;
    padding: 0;
}

#main-menu > ul > li > a{
    display: inline-block;
    color: white;
    margin: 7px;
    
}

#main-menu, #hamburger {
    display: none;
}

#hamburger:checked + #main-menu {
    display: block;
}
.fa-solid, .fas {
    font-weight: 900;
    color: rgb(248, 224, 9);
    padding-right: 5px;
    margin-top: 25px;
}

li {
    width: 300px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-left: 5%;
}
li  a {
    text-decoration: none;
    color: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16px;
}
li :hover a{
    color: rgba(255, 187, 0, 0.986);
}

/** Media queries */
@media (min-width:920px){

    .hamburger-icon{
        display: none;
    }
   #main-menu {
    display: flex;
    background: transparent;
    box-shadow: none;
    width: 50%;
    align-items: flex-end;
    font-size: 15px;
   }
}

/* Adjust main content for mobile */



.image-banner{
    width: 100%;
    background-size:cover;
    display: block;
    height: auto;
}
.heading-over-image{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    font-family:'Audiowide', sans-serif ;
    color: rgb(255, 255, 253);
    font-size: 80px;
}
#banner{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

@media only screen 
and (min-device-width: 240px) 
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
.heading-over-image {
font-size: 24px; 
}
}
/* Portrait */
@media only screen 
and (min-device-width: 240px) 
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
.heading-over-image{
font-size: 24px;
}
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
.heading-over-image {
font-size: 24px; 
}
} 

/*main-content*/

#main-content {
    background-color: white; 
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;  
 padding:auto;
}
h2{
    text-align: center;
    font-family:'Audiowide', sans-serif;
    padding: 30px 0;
}
.article{
    text-align: center;
    padding:10px 0;
}

.aerospace{
background-color: rgb(255, 238, 0);
height: auto;
}

.nightmuseum{
     background-color: #DCA47B;
    height: auto;
}

.Starry-Night{
    background-color: #caa3eb;

}
.windpower{
    background-color:#9ACAEC;
    height: auto;
}
 .event-image{
    height:auto; 
    width: 100%; 
 }

h3,p {
    text-align: center;
}

p {
    font-family: 'Atkinson Hyperlegible', sans-serif ;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h3{
    font-family:'Audiowide', sans-serif ;
    padding-top: 10px;
}

/*upcomimg events*/

.upcoming-events{
    height: 450px;
    width: 450px;  
}

.container {
    display: flex;
    background-color:white; 
    width: 100%; 
}

.image-container {
    flex: 1; 
}

.image-container img {
    width: 100%; 
    height: auto;
}

.events-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.event {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.event:last-child {
    border-bottom: none; 
}

.event h3 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.event p {
    margin-bottom: 5px;
}

/*icons for exhibition spaces*/
.icon-container{
    background-color: #9c6ee6;
    width: 100%;
    padding: 80px; 
    display: flex;
    justify-content: space-evenly; 
    gap: 30px;
    align-items: flex-end;   
}

.icon{
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}
.icon:nth-child(1) {
    transform: translateY(-50px);
}

.icon:nth-child(2) {
    transform: translateY(50px);
}

.icon:nth-child(3) {
    transform: translateY(-50px);
}

.icon:nth-child(4) {
    transform: translateY(50px);
}

.icon:nth-child(5) {
    transform: translateY(-20px);
}

/*admissiona nd opening hours*/
.container1,
.container2 {
    display: flex;
    width: 100%;
    max-width: 1440px; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container1{
    background-color: rgb(192, 190, 190);
}
.container2{
    background-color:#FE846A ;
}
.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-container1,
.text-container2 {
    flex: 1;
    padding: 20px;
}

.text-container1 h3,
.text-container2 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px; 
}

.text-container1 p,
.text-container2 p {
    font-size: 18px;
    line-height: 2.5;
    text-align: center; 
}
.text-container2{
    line-height: 4;
}


/*footer*/
.footer-wrapper {
    background-color:rgb(21, 89, 92);
    padding: 20px;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
}

.social-icons i {
    margin-bottom: 20px;
    }

.terms-conditions p {
    font-size: 14px;
    font-family:'Audiowide', sans-serif ;
}



/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 920px) {
   
    .container {
        flex-direction: column-reverse; 
    }
    .container1,
    .container2 {
        flex-direction: column;
    }
    .text-container1 h3,
    .text-container2 h3 {
        font-size: 20px;
        line-height: normal; 
    }

    .text-container1 p,
    .text-container2 p {
        font-size: 16px; 
        line-height: normal;
    }

    
}
@media (max-width: 1000px) {
    .icon-container {
        flex-wrap: nowrap; 
       align-items: center;
       display: flex;
       flex-direction: column;
    }
    .icon {
        width: 150px; 
        
    }

    .icon:nth-child(1) {
        transform: translateY(-5px);
    }
    
    .icon:nth-child(2) {
        transform: translateY(5px);
    }
    
    .icon:nth-child(3) {
        transform: translateY(-5px);
    }
    
    .icon:nth-child(4) {
        transform: translateY(5px);
    }
    
    .icon:nth-child(5) {
        transform: translateY(-5px);
    }
 
    

}

/*About Us*/
.about-us p {
    background-color: #DC8E47;
    line-height: 1.9;
    justify-content: center;
    padding: 50px;
}

/*visit us*/
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:'Atkinson Hyperlegible', sans-serif  ;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height:80px; 
}

input[type="submit"] {
    background-color: #1796bd;
    color: rgb(245, 241, 241);
    padding: 5px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.dino-container {
    display: flex;
    flex-direction: row;
}

.image img {
    max-width: 100%;
    height: auto;
}

.form{
    flex: 1;
}
.visitus-banner{
    height: 600px;
filter: brightness(70%);

}

.food-shop-image{
    width: 100%;
    height: auto;
}

.shop-section{
    background-color: #bdf1e6;
    margin-bottom: 40px;
}
.shop-section p{
    padding: 30px;
    line-height: 1.6;
}
.food-section{
    background-color: #DCA47B;
    margin-bottom: 40px;
}
.food-section p{
    line-height: 1.6;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    form {
        padding: 15px;
    }
    input[type="submit"] {
        padding: 12px 15px;
    } 
    .visitus-banner{
        width: auto;
        height: auto;
    }
   
}

