
 @import url("./global.css");

.article{
    text-align: center;
    padding:10px 0;
}

.aerospace{
background-color: rgb(255, 238, 0);
height: auto;
}

.nightmuseum{
     background-color: #DCA47B;
    height: auto;
}

.Starry-Night{
    background-color: #caa3eb;

}
.windpower{
    background-color:#9ACAEC;
    height: auto;
}
 .event-image{
    height:auto; 
    width: 100%; 
 }

h3,p {
    text-align: center;
}

p {
    font-family: 'Atkinson Hyperlegible', sans-serif ;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h3{
    font-family:'Audiowide', sans-serif ;
    padding-top: 10px;
}

/*upcomimg events*/

.upcoming-events{
    height: 450px;
    width: 450px;  
}

.container {
    display: flex;
    background-color:white; 
    width: 100%; 
}

.image-container {
    flex: 1; 
}

.image-container img {
    width: 100%; 
    height: auto;
}

.events-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.event {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.event:last-child {
    border-bottom: none; 
}

.event h3 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.event p {
    margin-bottom: 5px;
}

/*icons for exhibition spaces*/
.icon-container{
    background-color: #9c6ee6;
    width: 100%;
    padding: 80px; 
    display: flex;
    justify-content: space-evenly; 
    gap: 30px;
    align-items: flex-end;   
}

.icon{
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}
.icon:nth-child(1) {
    transform: translateY(-50px);
}

.icon:nth-child(2) {
    transform: translateY(50px);
}

.icon:nth-child(3) {
    transform: translateY(-50px);
}

.icon:nth-child(4) {
    transform: translateY(50px);
}

.icon:nth-child(5) {
    transform: translateY(-20px);
}

@media (max-width: 1000px) {
    .icon-container {
        flex-wrap: nowrap; 
       align-items: center;
       display: flex;
       flex-direction: column;
    }
    .icon {
        width: 150px; 
        
    }

    .icon:nth-child(1) {
        transform: translateY(-5px);
    }
    
    .icon:nth-child(2) {
        transform: translateY(5px);
    }
    
    .icon:nth-child(3) {
        transform: translateY(-5px);
    }
    
    .icon:nth-child(4) {
        transform: translateY(5px);
    }
    
    .icon:nth-child(5) {
        transform: translateY(-5px);
    }
 
    

}

/*admissiona nd opening hours*/
.container1,
.container2 {
    display: flex;
    width: 100%;
    max-width: 1440px; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container1{
    background-color: rgb(192, 190, 190);
}
.container2{
    background-color:#FE846A ;
}
.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-container1,
.text-container2 {
    flex: 1;
    padding: 20px;
}

.text-container1 h3,
.text-container2 h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px; 
}

.text-container1 p,
.text-container2 p {
    font-size: 18px;
    line-height: 2.5;
    text-align: center; 
}
.text-container2{
    line-height: 4;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 920px) {
   
    .container {
        flex-direction: column-reverse; 
    }
    .container1,
    .container2 {
        flex-direction: column;
    }
    .text-container1 h3,
    .text-container2 h3 {
        font-size: 20px;
        line-height: normal; 
    }

    .text-container1 p,
    .text-container2 p {
        font-size: 16px; 
        line-height: normal;
    }

    
}


/*About Us*/
.about-us p {
    background-color: #DC8E47;
    line-height: 1.9;
    justify-content: center;
    padding: 50px;
}

/*visit us*/
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:'Atkinson Hyperlegible', sans-serif  ;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height:80px; 
}

input[type="submit"] {
    background-color: #1796bd;
    color: rgb(245, 241, 241);
    padding: 5px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.dino-container {
    display: flex;
    flex-direction: row;
}

.image img {
    max-width: 100%;
    height: auto;
}

.form{
    flex: 1;
}
.visitus-banner{
    height: 600px;
filter: brightness(70%);

}

.food-shop-image{
    width: 100%;
    height: auto;
}

.shop-section{
    background-color: #bdf1e6;
    margin-bottom: 40px;
}
.shop-section p{
    padding: 30px;
    line-height: 1.6;
}
.food-section{
    background-color: #DCA47B;
    margin-bottom: 40px;
}
.food-section p{
    line-height: 1.6;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    form {
        padding: 15px;
    }
    input[type="submit"] {
        padding: 12px 15px;
    } 
    .visitus-banner{
        width: auto;
        height: auto;
    }
   
}
